@import 'tailwindcss';

h1 {
    text-decoration: underline;
    position: absolute;
    left: 40%;
    top: 50%;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    text-transform: capitalize;
}

div > a {
  text-decoration: none;
  background: #073eca;
  padding: 8px 20px;
  font-size: small;
  border-radius: 5px;
}

a:hover {
    text-decoration: underline;
}