.header {
    background: #999;
    padding: 10px 15px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h3 {
    text-decoration: underline;
    color: #333;
}

.btn {
    background: #5003b4;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    outline: none;
    border: 1px solid blue;
    border-radius: 10px;
    cursor: pointer;
}
